<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Cami's Hellhole</title>
        <link rel="stylesheet" href="/src/css/styles.css">
    </head>
    <body>
        <div class="sidebar">
            <h2>Info</h2>
                <a href="/index.html">About Me</a>
            <h2>Projects</h2>
                <a href="/src/html/mods.html">Minecraft Mods</a>
                <a href="/src/html/programs.html">Programs</a>
                <a href="/src/html/music.html">Music</a>
        </div>
        <div class="main">
            
        </div>
    </body>
</html>