.modcard /*The full card*/
{
    flex-grow: 1;
    width: 30%;
    height: 30%;
}

.modinfo /*The images and descriptions*/
{
    background-color: white;
}

.modlinks /*The mod links*/
{
    background-color: gray;
}